<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.iss.medipal">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddEditPersonalBioActivity"
            android:label="Personal Bio"
            android:parentActivityName=".activity.AddEditPersonalBioActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddEditHealthBioActivity"
            android:label="Health Bio"
            android:parentActivityName=".activity.AddEditHealthBioActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddMedicineActivity"
            android:label="AddMedicine"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditMedicineActivity"
            android:label="EditMedicine"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddCategoryActivity"
            android:label="AddCategory"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddEditAppointmentActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".service.RemindAlarmReceiver" />

        <activity
            android:name=".activity.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConsumptionActivity"
            android:label="Consumption"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ConsumptionDetail"
            android:label="consummption data"
            android:parentActivityName=".activity.ConsumptionActivity" />
        <activity
            android:name=".activity.UncomsumedActivity"
            android:label="Unconsumed History"
            android:parentActivityName=".activity.ConsumptionDetail" />
        <activity
            android:name=".activity.AddConsumption"
            android:label="ADD" />
        <activity
            android:name=".activity.IceActivity"
            android:label="ICEDetail"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.MeasurementActivity"
            android:label="MeasurementDetail"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditConsumptionActivity"
            android:parentActivityName=".activity.ConsumptionActivity">
        </activity>
    </application>

</manifest>